.wrapper_size_max {
    max-width: 100%;
    padding: 0 48px 92px;
}

.wrapper_size_max:first-child {
    padding-top: 28px;
    padding-bottom: 56px;
}

.wrapper_size_max:last-child {
    padding-bottom: 24px;
}

@media screen and (max-width: 1279px) {
    .wrapper_size_max {
        padding: 0 48px 92px;
    }
}

@media screen and (max-width: 1023px) {
    .wrapper_size_max {
        padding: 0 36px 90px;
    }
    
}

@media screen and (max-width: 959px) {
    .wrapper_size_max {
        padding: 0 24px 88px;
    }
}

@media screen and (max-width: 767px) {
    .wrapper_size_max {
        padding: 0 20px 76px;
    }

    .wrapper_size_max:first-child {
        padding-top: 22px;
    }

    .wrapper_size_max:last-child {
        padding-left: 20px;
        padding-right: 71px;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .wrapper_size_max {
        padding: 0 16px 64px;
    }

    .wrapper_size_max:first-child {
        padding-top: 16px;
    }

    .wrapper_size_max:last-child {
        padding-left: 16px;
        padding-right: 118px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .wrapper_size_max:first-child {
        padding-bottom: 48px;
    }

    .wrapper_size_max:nth-child(5) {
        padding-left: 0;
        padding-right: 0;
    }
}