.lead__title {
    max-width: 720px;
    margin: 0;
    padding-bottom: 32px;
    grid-column: span 2;
    justify-self: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 96px;
    font-weight: 900;
    font-style: normal;
    line-height: 1.04;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: calc(100% - 32px);
        padding-bottom: 16px;
        font-size: 40px;
        line-height: 1.1;
    }
}