.footer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    column-gap: 18px;
    justify-items: start;
    align-items: center;
    grid-auto-flow: column;
}

@media screen and (max-width: 767px) {
    .footer__list {
        grid-template-rows: repeat(5, minmax(min-content, max-content));
        row-gap: 32px;
        align-items: start;
    }
}