.place {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    grid-template-areas:
    "title website"
    "image paragraph"
    "image paragraph";
    justify-content: center;
    align-content: start;
}

.place:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        padding-bottom: 73px;
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        padding-bottom: 61px;
        grid-template-columns: 314px 1fr;
        gap: 40px;
        grid-template-areas: 
        "title ."
        "website ."
        "image image"
        "paragraph paragraph";
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .place {
        padding-bottom: 50px;
        grid-template-columns: 288px 1fr;
        gap: 32px;
        grid-template-areas:
        "title ."
        "website ."
        "image image"
        "paragraph paragraph";}
    }